*.mp4 filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text


# Ignore all C++ source and header files from language stats
*.cpp linguist-detectable=false
*.h linguist-detectable=false
*.hpp linguist-detectable=false

# If the C++ files are all inside a specific folder (e.g., "build" or "bin"), ignore the whole folder:
build/** linguist-detectable=false
